<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/styles/AccountPageStyles.css}" href="/static/styles/AccountPageStyles.css">
    <title>Account</title>
</head>
<body>
<header>
    <h1>THS-<span class="h1_market">market</span></h1>
    <form method="get" class="addItemForm">
        <input type="submit" class="customButton" value="Добавить товар">
    </form>
    <form method="get" class="deleteItemForm">
        <input type="submit" class="customButton" value="Удалить товар">
    </form>
    <form method="post" class="logoutForm" th:action="@{/logout}">
        <input type="submit" class="customButton" value="Выйти" >
    </form>
</header>
<p class="settingsText">Настройки</p>
<form>
    <p class="settingsItemText">Имя</p>
    <input type="text" class="settingsItem" th:value="${user.getName()}">
    <p class="settingsItemText">Email</p>
    <input type="text" class="settingsItem" id="email" th:value="${user.getEmail()}">
    <input type="submit" class="customButton saveButton"  value="Сохранить">
</form>

<p class="settingsText" id="changePasswordText">Сменить пароль</p>
<form>
    <p class="settingsItemText" id="passwordText">Новый пароль</p>
    <input type="text" id="password" class="settingsItem">
    <div id="invalid_password_message">
        <p class="password_must_contain" id="invalid_password">Пароль должен содержать:</p>
        <p class="invalid" id="invalid_length"> <span class="wrong_set" id="w_length_set"> &#9746;</span> <span class="right_set" id="r_length_set"> &#9745;</span> От 8 до 16 символов</p>
        <p class="invalid" id="invalid_number"> <span class="wrong_set" id="w_number_set"> &#9746;</span> <span class="right_set" id="r_number_set"> &#9745;</span> Хотя бы одну цифру</p>
        <p class="invalid" id="invalid_letter"> <span class="wrong_set" id="w_letter_set"> &#9746;</span> <span class="right_set" id="r_letter_set"> &#9745;</span> Хотя бы одну букву</p>
        <p class="invalid" id="invalid_upper"> <span class="wrong_set" id="w_upper_set"> &#9746;</span> <span class="right_set" id="r_upper_set"> &#9745;</span> Хотя бы одну заглавную букву</p>
    </div>
    <input type="submit" class="customButton saveButton" value="Сохранить">
</form>





<span th:text="${user.getEmail()}"></span>
<script type="text/javascript"  th:src="@{scripts/Validation.js}"></script>
</body>
</html>