<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <link rel="stylesheet" th:href="@{/styles/CatalogPageStyles.css}">
    <title>THS-market</title>
</head>
<body>
<header>
    <h1>THS-<span class="h1_market">market</span></h1>
    <form class="searchForm" action="/search">
        <input class="searchField" type="search" name="search" placeholder="Искать в каталоге">
        <input type="submit" class="customButton" value="Поиск">
    </form>
    <form th:action="@{/account}" class="loginForm">
        <input type="submit" class="customButton" id="loginButton" value="Мой аккаунт">
    </form>
</header>

<div class="flex">
    <p class="catalogText">Каталог</p>
    <div class="basketSection" th:onclick="|window.location.href='/basket'|">
        <img th:src="@{styles/assets/images/basket.png}" id="basket">
        <p th:text="${order.size()}" class="orderSize"></p>
    </div>
</div>



<div th:if="${filters.get('isFilterActive')=='true'}" class="activeFiltersSection">
    <div th:unless="${filters.get('minPrice')=='0'}" class="activeFilter">
        <p>Стоимость от: </p>
        <p th:text="${filters.get('minPrice')}"></p>
    </div>
    <div th:unless="${filters.get('maxPrice')=='1000000000'}" class="activeFilter">
        <p>Стоимость до: </p>
        <p th:text="${filters.get('maxPrice')}"></p>
    </div>
    <div th:unless="${filters.get('search')==''}" class="activeFilter">
        <p>Поиск: </p>
        <p th:text="${filters.get('search')}"></p>
    </div>

<form th:action="@{/clearSearch}" class="clearSearchForm">
    <input type="submit"  class="customButton" id="clearSearch" value="Очистить">
</form>
</div>




<div class="flex">
    <form class="filtersForm" th:action="@{/filters}">
        <p class="filtersText">Фильтры</p>
        <label class="priceText">Стоимость:</label>
        <input type="number" name="min_price" class="filtersItem" placeholder="от">
        <input type="number" name="max_price" class="filtersItem" placeholder="до">
        <input type="submit"  class="customButton" id="filtersButton" value="Показать">
    </form>

    <div class="items">
        <div th:if="${values.empty}" >
            <p class="noItemsText">Нет товаров!</p>
        </div>

        <div class="item" th:each="item : ${values}"  th:onclick="|window.location.href='/item/${item.id}'|">
            <div><span class="itemTitle" th:text="${item.title}"> title </span></div>
            <div class="flex">
                <div><img th:src="${item.image}"></div>
                <div  class="itemDescription"><span th:text="${item.description}"> description </span></div>
                <div class="itemPrice"><span  th:text="${item.price}"> price </span></div>
                <form method="post" th:action="@{/addToBasket}">
                    <input th:value="${item.id}" class="displayNone" name="id">
                    <input type="submit"  value="В корзину" class="customButton" id="addToBasket" >
                </form>

            </div>

        </div>

    </div>

</div>


<div class="navigationButtons">
    <div th:if="${prevPage}">
        <form th:action="@{/prevPage}">
            <input type="submit" class="customButton" id="prevPageButton" value="Предыдущая">
        </form>
    </div>

    <div th:if="${nextPage}">
        <form th:action="@{/nextPage}">
            <input type="submit" class="customButton" id="nextPageButton" value="Следующая">
        </form>
    </div>

</div>





</body>
</html>