<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/styles/ItemsPageStyles.css}" href="/static/styles/ItemsPageStyles.css">
    <title>Items</title>
</head>
<body>
<header>
    <h1>THS-<span class="h1_market">market</span></h1>
</header>

<form th:action="@{/account}" class="prevPageForm">
    <input type="submit" value="Назад" class="customButton" id="prevButton">
</form>

<p class="addItemText">Добавить товар</p>
<form method="post" th:object="${item}" th:action="@{/saveItem}" enctype="multipart/form-data">
    <input type="file" name="file" accept=".jpg,.png,.jpeg" class="loadImageField" placeholder="Загрузить изображение" required>
    <input type="text" class="addItemField" maxlength="255" th:field="*{title}" placeholder="Название" required>
    <textarea type="text" id="description" class="addItemField" th:field="*{description}" maxlength="3000" placeholder="Описание" required></textarea>
    <input type="number" class="addItemField" placeholder="Цена" th:field="*{price}"  required>
    <input type="submit" class="customButton" value="Сохранить">
</form>



<p class="addItemText">Удалить товар</p>
<form method="post" th:action="@{/deleteItem}">
    <input type="text" name="id" class="addItemField" pattern="(*\d)" placeholder="ID товара" required>
    <input type="submit" class="customButton" value="Удалить">
</form>

<p class="addItemText" id="changeItemText">Редактировать товар</p>
<form  th:action="@{/getItem}">
    <input type="text" name="id" class="addItemField" pattern="(*\d)" placeholder="ID товара" required>
    <input type="submit" class="customButton" id="changeItemButton" value="Редактировать">
</form>

</body>
</html>