<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/styles/LoginPageStyles.css}" >
    <title>THS Login</title>
</head>
<body>
<header>
    <h1>THS-<span class="h1_market">market</span></h1>
</header>
<section>
    <p class="accountParagraph">Нет аккаунта? <a href="/register" class="signUp">Зарегистрироваться</a></p>
    <form method="post" th:action="@{/login}">
        <p class="emailParagraph">Email</p>
        <input name="username" type="email" class="email" required>
        <p class="passwordParagraph">Пароль</p>
        <input name="password" id="password" type="text" class="password" required>
        <input type="submit" class="login" value="Войти">
    </form>
</section>


</body>
</html>