<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <link rel="stylesheet" th:href="@{/styles/InfoPageStyles.css}">
    <title>Order</title>
</head>
<body>
<header>
    <h1>THS-<span class="h1_market">market</span></h1>
</header>
<form th:action="@{/catalog}">
    <p class="info" id="successfulOrder">Заказ успешно оформлен!</p>
    <input type="submit" value="На главную" >
</form>