<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/styles/ErrorPageStyles.css}">
    <title>Failed</title>
</head>
<body>
<header>
    <h1>THS-<span class="h1_market">market</span></h1>
</header>
<span class="exception_message" th:text="${exception.getMessage()}">Пользователь с таким email уже существует!</span>
<form th:action="@{/register}">
    <input type="submit" value="Назад" class="prevButton">
</form>




</body>
</html>