body {
    width: 70%;
    margin-left: 20%;
    font-family: Comic_Sans_MS;
    src: url(./assets/fonts/Comic_Sans_MS.ttf);
}

@font-face {
    font-family: Comic_Sans_MS;
    src: url(./assets/fonts/Comic_Sans_MS.ttf);
}

.h1_market {
    color: orange;
    font-style: italic;
}

h1 {
    margin: 10% 0 5% 25%;
    font-size: 60px;
}
.info{
    font-size: 27px;
    margin-left: 5%;
}
input {
    width: 310px;
    font-size: 30px;
    margin: 5% 0 0 25%;
    color: white;
    background-color: orange;
    border: none;
    border-radius: 20px;
    outline: none;
}
input:active {
    transform: translateY(4px);
}
input:hover{
    opacity:0.7;
}
.prevButton {
    width: 210px;
    font-size: 30px;
    margin: 4% 20% 0 28%;
    color: white;
    background-color: orange;
    border: none;
    border-radius: 20px;
    outline: none;
}

.prevButton:active {
    transform: translateY(4px);
}
.prevButton:hover{
    opacity: 0.7;
}
.result-message{
    font-size: 25px;
    margin: 0 20% 0 22%;
}
#successfulOrder{
    margin-left: 25%;
}
.errorText{
    font-size: 35px;
    margin:1% 0 0 33%;
}
.errorMessage{
    font-size: 25px;
    margin:3% 0 0 15%;
}