body {
    width: auto;
    font-family: Comic_Sans_MS;
    src: url(assets/fonts/Comic_Sans_MS.ttf);

}

@font-face {
    font-family: Comic_Sans_MS;
    src: url(assets/fonts/Comic_Sans_MS.ttf);
}
h1 {
    font-size: 35px;
    margin: 1%;
}

.h1_market {
    color: orange;
    font-style: italic;
}
header{
    display: flex;
    border-bottom: 1px solid gray;
    padding-bottom: 1%;
}
.customButton {
    width: 20%;
    height: 30px;
    font-size: 17px;
    margin: 1% 5% 0 0;
    color: white;
    background-color: orange;
    border: none;
    outline: none;
}
.customButton:hover{
    opacity:0.7;
}
#loginButton{
    background-color: orange;
    border-radius: 8px;
    height: 32px;
    width:100%;
}
.loginForm{
    margin: 1% 5% 0 69%;
}
#prevButton{
    width: 70px;
}
.prevPageForm{
    margin: 1% 5% 0 5%;
}
.itemValue{
    margin: 2% 5% 0 20%;
    width: 60%;
}
img{
    max-width: 800px;
    max-height: 600px;
    display: block;
    margin:4% auto 0 auto;
}
.itemTitle{
    font-size: 30px;
    text-align: center;
}
.itemId{
    font-size: 25px;
    text-align: center;
    margin-top: 4%;
}
.itemDescription{
    font-size: 20px;
    margin-top: 4%;
}
.itemPrice{
    font-size: 25px;
    margin-top: 4%;
    text-align: center;
}
.displayNone{
    display: none;
}
#addToBasket{
    width:130px;
    margin:2% 5% 0 46%;
    font-size: 25px;
}