body {
    width: auto;
    font-family: Comic_Sans_MS;
    src: url(assets/fonts/Comic_Sans_MS.ttf);

}

@font-face {
    font-family: Comic_Sans_MS;
    src: url(assets/fonts/Comic_Sans_MS.ttf);
}
h1 {
    font-size: 35px;
    margin: 1% 15% 1% 42%;
}

.h1_market {
    color: orange;
    font-style: italic;
}

header{
    border-bottom: 1px solid black;
    padding-bottom: 1%;
}
.customButton {
    width: 100%;
    height: 30px;
    font-size: 17px;
    margin: 2% 0 0 0;
    color: white;
    background-color: orange;
    border: none;
    outline: none;
}
.customButton:hover{
    opacity:0.7;
}
.prevPageForm{
    width: 90px;
    margin: 1% 2% 0 2%;
}
.ordersText{
    margin: 2% 2% 0 43%;
    font-size: 28px;
}
.items{
    margin: 2% 2% 0 0%;
}
.noItemsText{
    margin: 10% 2% 0 44%;
    font-size: 25px;
}
.item{
    border-top: 1px solid gray;
    margin-top: 2%;
}
.orderID{
    font-size: 25px;
    margin: 1% 2% 0 44%;
}
.ordersUserID{
    font-size: 20px;
    margin: 2% 2% 0 25%;
}
.orderTime{
    font-size: 20px;
    margin:2% 2% 0 25%;
}
.itemsText{
    margin: 2% 2% 0 44%;
    font-size: 20px;
}
.itemValue{
    margin: 4% 2% 0 20%;
}
.itemTitle{
    font-size: 18px;
    margin: 1% 0 0 24%;
}
.itemField{
    margin:1% 2% 0 0;
}
img{
    width: 250px;
    height: 200px;
    margin:1% 2% 0 25%;
}